.container {
    position: absolute;
    bottom: 1.5em;
    left: 1.5em;
}

.header, .nav {
    color: var(--primary-text-color);
}

.header {
    font-family: var(--font-family-header);
}

.nav {
    font-family: var(--font-family-body);
}