.container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 2em;
    right: 2em;
}

.square1, .square2, .square3, .square4 {
    width: 20px; /* Set your desired width */
    height: 20px; /* Set your desired height to match the width */
    margin: 5px; /* Optional: Add margin to space out the squares */
    transition: background-color 0.25s ease-in-out;
}

.square1 {
    background-color: var(--foreground-color);
}

.square2 {
    background-color: var(--secondary-text-color);
}

.square3 {
    background-color: var(--toggle-bg);
}

.square4 {
    background-color: var(--toggle-fg);
}
