.aboutContainer {
  padding: 2rem;
  max-width: 900px;
  margin: auto;
}

.section {
  margin-bottom: 1rem;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}

.profileImage {
  border-radius: 12px;
  max-width: 250px;
}

.textBlock {
  flex: 1;
  min-width: 250px;
}

.bulletList {
  list-style: none;
  padding-left: 0;
}

.bulletList li::before {
  content: "•";
  margin-right: 0.5rem;
  color: var(--primary);
}

.badgeGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.badgeGrid span {
  background-color: var(--foreground-color);
  color: var(--background-color);
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 0.9rem;
}

.techGroup {
  margin-bottom: 1rem;
  color: var(--primary-text-color)
}

.blogLink {
  display: inline-block;
  margin-top: 0.5rem;
  color: var(--link-color);
  font-weight: bold;
  text-decoration: none;
}

.blogLink:hover {
  text-decoration: underline;
}
