.blogList {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.blogPreview {
  background-color: var(--toggle-bg); /* Create a new variable if needed */
  padding: 1.5rem;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  z-index: 1;
}

.blogPreview:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}


.blogTitle {
  margin: 0 0 0.5rem;
  font-size: 1.5rem;
  color: var(--primary-text-color);
}

.blogSummary {
  color: var(--secondary-text-color);
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.readMore {
  display: inline-block;
  color: var(--link-color);
  font-weight: bold;
  text-decoration: none;
  margin-top: 0.5rem;
}

.readMore:hover {
  text-decoration: underline;
}
